<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear_Auto</title> {% comment %} title es la informacion que aparece en la pestaña {% endcomment %}
</head>
<body>
    <form action="" method="POST"> {% comment %} el GET es inseguro( se usa para consulta de informacion), es mejor y mas seguro el POST {% endcomment %}
        {% csrf_token %}
        {{formulario}}
        <button>Soy el boton</button> {%comment%}no se va a usar el input porque es mejor el button para los formularios de django porque django no los trae{%endcomment%}
        <input type="submit" value="Crear">
    </form>
</body>
</html>

{% comment %} si no se puede autocompletar, copiar esto "emmet.includeLanguages": {
        "django-html": "html" en el .json de Preferences: Open user Settings(JSON)
    } {% endcomment %}